.main {
  width: 100vw;
  height: 290vh;
}

/*** 배너 설정 ***/
.banner {
  width: 100vw;
  height: 90vh;
  position: relative;
  overflow: hidden;
}

.banner > .slide_box {
  display: flex;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
}

.banner > .slide_box > label {
  width: 100px;
  height: 10px;
  background-color: black;
  border: 5px solid white;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.banner > input {
  display: none;
}

.banner > #slide01:checked ~ .slide_box > label:nth-child(1) {
  background-color: violet;
}

.banner > #slide01:checked ~ .item01 {
  left: 0;
}

.banner > #slide02:checked ~ .slide_box > label:nth-child(2) {
  background-color: violet;
}

.banner > #slide02:checked ~ .item02 {
  left: 0;
}

.banner > #slide03:checked ~ .slide_box > label:nth-child(3) {
  background-color: violet;
}

.banner > #slide03:checked ~ .item03 {
  left: 0;
}

.banner > .item01 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
  background-image: url("../images/slide02.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner > .item02 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100vw;
  z-index: -1;
  transition: 0.5s;
  background-image: url("../images/slide01.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner > .item03 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100vw;
  z-index: -1;
  transition: 0.5s;
  background-image: url("../images/slide03.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner > .item01,
.item02,
.item03 > p {
  font-size: 5rem;
  font-family: "Edu SA Beginner", cursive;
  color: white;
  text-shadow: -5px 0 #000, 0 5px #000, 5px 0 #000, 0 -5px #000;
}

/*** 스킬 설정 ***/

.skill {
  width: 100vw;
  height: 100vh;
}

.skill_list img {
  transition: 0.5s;
}

.skill_list img:hover {
  transform: scale(1.2);
}

.front_skill .skill_list img:nth-child(1):hover ~ .explain01 {
  transform: scale(1.2);
  opacity: 1;
  z-index: 1;
}

.front_skill .skill_list img:nth-child(2):hover ~ .explain02 {
  transform: scale(1.2);
  opacity: 1;
  z-index: 1;
}

.front_skill .skill_list img:nth-child(3):hover ~ .explain03 {
  transform: scale(1.2);
  opacity: 1;
  z-index: 1;
}

.back_skill .skill_list img:nth-child(1):hover ~ .explain04 {
  transform: scale(1.2);
  opacity: 1;
}

.back_skill .skill_list img:nth-child(2):hover ~ .explain05 {
  transform: scale(1.2);
  opacity: 1;
}

.back_skill .skill_list img:nth-child(3):hover ~ .explain06 {
  transform: scale(1.2);
  opacity: 1;
}

/***  프론트엔드 스킬 ***/
.skill > .front_skill {
  width: 100vw;
  height: 50%;
  text-align: center;
  background-color: aquamarine;
}

.skill > .front_skill > p {
  display: inline-block;
  margin-top: 20px;
  font-size: 2rem;
  font-family: "Black Han Sans", sans-serif;
}

.skill > .front_skill > .skill_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.skill > .front_skill > .skill_list > img {
  width: 300px;
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
}

.skill > .front_skill > .skill_list > .explain01,
.explain02,
.explain03 {
  opacity: 0;
}

/*** 백엔드 스킬***/

.skill > .back_skill {
  width: 100vw;
  height: 50%;
  text-align: center;
  background-color: cadetblue;
}

.skill > .back_skill > p {
  display: inline-block;
  margin-top: 20px;
  font-size: 2rem;
  font-family: "Black Han Sans", sans-serif;
}

.skill > .back_skill > .skill_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  position: relative;
}

.skill > .back_skill > .skill_list > img {
  width: 300px;
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
}

.skill > .back_skill > .skill_list > .explain04 {
  position: absolute;
  top: -250px;
  left: 200px;
}

.skill > .back_skill > .skill_list > .explain05 {
  position: absolute;
  top: -250px;
  left: 700px;
}

.skill > .back_skill > .skill_list > .explain06 {
  position: absolute;
  top: -250px;
  left: 1200px;
}

.skill > .back_skill > .skill_list > .explain04,
.explain05,
.explain06 {
  opacity: 0;
}

@media (max-width: 768px) {
  .skill {
    height: 330vh;
  }

  .skill_list > img:nth-child(1),
  img:nth-child(2),
  img:nth-child(3) {
    margin-top: 50px;
  }

  .front_skill > .skill_list > img:nth-child(4) {
    position: absolute;
    left: 0;
    bottom: -800px;
    z-index: -1;
  }

  .front_skill > .skill_list > img:nth-child(5) {
    position: absolute;
    left: 0;
    bottom: -1150px;
    z-index: -1;
  }

  .front_skill > .skill_list > img:nth-child(6) {
    position: absolute;
    left: 0;
    bottom: -1500px;
    z-index: -1;
  }

  .skill > .back_skill > .skill_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    position: relative;
  }

  .skill > .back_skill > .skill_list > .explain04 {
    position: absolute;
    top: -250px;
    left: 0;
  }

  .skill > .back_skill > .skill_list > .explain05 {
    position: absolute;
    top: 100px;
    left: 0;
    display: none;
  }

  .skill > .back_skill > .skill_list > .explain06 {
    position: absolute;
    top: 400px;
    left: 0;
    display: none;
  }

  .back_skill .skill_list img:nth-child(1):hover ~ .explain04 {
    transform: scale(1.2);
    opacity: 1;
  }

  .back_skill .skill_list img:nth-child(2):hover ~ .explain05 {
    transform: scale(1.2);
    display: inline-block;
  }

  .back_skill .skill_list img:nth-child(3):hover ~ .explain06 {
    transform: scale(1.2);
    display: inline-block;
  }
}
